<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="播放文件夹" value="G:\Res" />
    <add key="Watermark" value="G:\Work\003git\MyDemoProject\MyDemoList\libs" />
    <add key="EndPoint" value="https://wemew.oss-cn-qingdao.aliyuncs.com/"/>
    <add key="Host" value="https://wemew.oss-cn-qingdao.aliyuncs.com"/>
    <add key="Bucket" value="wemew-oss"/>
    <add key="PairSize" value="20971520"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>